{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/admin.css">
	<title>Add Sub-Categories</title>
</head>
<body>
	<!-- Header Section -->
	{% include 'admin_header.html' %}
	<!-- Navbar Section -->
	{% include 'admin_navbar.html' %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
	
	<main role="main">
	    
	  	<section class="panel important">
	    <h2>Add Sub-Categories</h2>
	      	<form action="add_subcategory" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
	        <div class="twothirds">
                {% comment %} Sub-Category Id:<br/>
	            <input type="text" name="sub_category_id" size="40"/><br/><br/> {% endcomment %}

                Sub-Category Name:<br/>
	            <input type="text" name="subcategoryName" size="40"/><br/><br/>

                Select Category:<br/>
                <select name="categoryName" >
                    <option>Select Category</option>
					{% for data in context.category %} 
						<option value="{{data.categoryId}}"> {{data.categoryName}} </option>
                    {% endfor %}	
                </select><br/><br/>

                Image:<br/>
	            <input type="file" name="subcategoryImage"/><br/><br/>

	          	<input type="submit" name="submit" value="Save" />

	        </div>
	      	</form>
	  	</section>
		<section class="panel important">
			<table>
				<thead>
					<tr>
					  <th scope="col">Sub-Category Id</th>
					  <th scope="col">Sub-Category Name</th>
					  <th scope="col">Sub-Category Image</th>
					  <th scope="col">Update</th>
					  <th scope="col">Delete</th>
					</tr>
				  </thead>
				  <tbody>
					{% for data in context.subcategory_data %} 
					  <tr>
						  <td scope="row">{{data.subcategoryId}}</td>
						  <td>{{data.subcategoryName}}</td>
						  {% if data.subcategoryImage %}
						  <td>
							  <img src="{{ data.subcategoryImage.url }}"  alt="" class="prod-size" height="50px" width="60px">
						  </td>
						  {% else %}
						  <td>
							  <img src="{% static 'images/noimage.png' %}"  alt="" class="prod-size">
						  </td>  
						  {% endif %}
						  <td><a href="{% url 'admin_update_subcategories' data.subcategoryId %}" class="btn btn-daanger btn-sm ">Update</a></td>
						  <td><a href="{% url 'deletesubcategory' data.subcategoryId %}" class="btn btn-daanger btn-sm ">Delete</a></td>
					  </tr>
					{% endfor %}
				  </tbody>
			</table>
		</section>
	</main>

</body>
</html>