<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/admin.css">
	<title>Add Sub-Categories</title>
</head>
<body>
	<!-- Header Section -->
	{% include 'admin_header.html' %}
	<!-- Navbar Section -->
	{% include 'admin_navbar.html' %}

	<main role="main">
	    
	  <section class="panel important">
	    <h2>Add Sub-Categories</h2>
	      <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
	        <div class="twothirds">
                Sub-Category Id:<br/>
	            <input type="text" name="sub_category_id" size="40"/><br/><br/>

                Sub-Category Name:<br/>
	            <input type="text" name="sub_category_name" size="40"/><br/><br/>

                Categories:<br/>
                <select name="category">
                    <option></option>
                </select><br/><br/>

                Image:<br/>
	            <input type="file" name="sub_category_image" size="40"/><br/><br/>

	          <input type="submit" name="submit" value="Save" />

	        </div>
	      </form>
	  </section>
	</main>

</body>
</html>