{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/admin.css">
	<title>Add Categories</title>
</head>
<body>
	<!-- Header Section -->
	{% include 'admin_header.html' %}
	<!-- Navbar Section -->
	{% include 'admin_navbar.html' %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

	<main role="main">
	    
	  	<section class="panel important">
	    <h2>Add Categories</h2>
	      	<form action="add_category" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="twothirds">
					{% comment %} Category Id:<br/>
					<input type="text" name="category_id" size="40"/><br/><br/> {% endcomment %}

					Category Name:<br/>
					<input type="text" name="categoryName" size="40"/><br/><br/>

					Image:<br/>
					<input type="file" name="categoryImage" size="40"/><br/><br/>

					<input type="submit" name="submit" value="Save" />

				</div>
	      	</form>
	  	</section>
	  	<section class="panel important">
			<table>
				<thead>
					<tr>
					  <th scope="col">Category Id</th>
					  <th scope="col">Category Name</th>
					  <th scope="col">Category Image</th>
					  <th scope="col">Update</th>
					  <th scope="col">Delete</th>
					</tr>
				  </thead>
				  <tbody>
					{% for category in context.category_data %} 
					  <tr>
						  <td scope="row">{{category.categoryId}}</td>
						  <td>{{category.categoryName}}</td>
						  {% if category.categoryImage %}
						  <td>
							  <img src="{{ category.categoryImage.url }}"  alt="" class="prod-size" height="50px" width="60px">
						  </td>
						  {% else %}
						  <td>
							  <img src="{% static 'images/noimage.png' %}"  alt="" class="prod-size">
						  </td>  
						  {% endif %}
						  <td><a href="{% url 'admin_update_categories' category.categoryId %}" class="btn btn-daanger btn-sm ">Update</a></td>
						  <td><a href="{% url 'deletecategory' category.categoryId %}" class="btn btn-daanger btn-sm ">Delete</a></td>
					  </tr>
					{% endfor %}
				  </tbody>
			</table>
		</section>
	</main>

</body>
</html>