<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/admin.css">
	<title>Manage Feedback</title>
</head>
<body>
	<!-- Header Section -->
	{% include 'admin_header.html' %}
	<!-- Navbar Section -->
	{% include 'admin_navbar.html' %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
	
	<main role="main">
	  
	<section class="panel important">
	    <h2>Manage Feedback</h2>
	    <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
	        <div class="twothirds">
	            <table>
					<thead>
						<tr>
						  <th scope="col">Sr. No.</th>
						  <th scope="col">Name</th>
						  <th scope="col">Email</th>
						  <th scope="col">Contact</th>
						  <th scope="col">Message</th>
						</tr>
					  </thead>
					  <tbody>
						{% for msg in contact.contact %} 
						  <tr>
							  <td scope="row">{{msg.contactId}}</td>
							  <td>{{msg.name}}</td>
							  <td>{{msg.email}}</td>
							  <td>{{msg.number}}</td>
							  <td>{{msg.message}}</td>
							  
							  {% comment %} <td><a href="{% url 'admin_update_categories' category.categoryId %}" class="btn btn-daanger btn-sm ">Update</a></td>
							  <td><a href="{% url 'deletecategory' category.categoryId %}" class="btn btn-daanger btn-sm ">Delete</a></td> {% endcomment %}
						  </tr>
						{% endfor %}
					  </tbody>
				</table>  
	        </div>
	    </form>
	</section>

	</main>

</body>
</html>