{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/admin.css">
	<title>Manage Products</title>
</head>
<body>
	<!-- Header Section -->
	{% include 'admin_header.html' %}
	<!-- Navbar Section -->
	{% include 'admin_navbar.html' %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

	<main role="main">
	  
	<section class="panel important">
	    <h2>Manage Products</h2>
	    {% comment %} <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post"> {% endcomment %}
	        
	            <table>
					<tr><p align="right">
						<form method="POST" action="downloadProduct">
							{% csrf_token %}
							<label for="download-type">Download Type:</label>
							<input type="radio" id="excel" name="download-type" value="excel">
							<label for="excel" style="display: inline-block;">Excel</label>
							<input type="radio" id="pdf" name="download-type" value="pdf">
							<label for="pdf" style="display: inline-block;">PDF</label>
							<button type="submit">Download Products</button>
						</form>
						</p>
					</tr>
                    <th>Sr. No</th>
                    <th>Image</th>
					<th>Product Name</th>
                    <th>Category</th>
                    <th>Sub-Category</th>
                    <th>Diet Preference</th>
					<th>Price</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                    <th>Approved</th>
					<tbody>
						{% for data in context %} 
						  <tr>
							  <td scope="row">{{data.productId}}</td>
							  {% if data.productImage %}
							  <td>
								  <img src="{{ data.productImage.url }}"  alt="" class="prod-size" height="50px" width="60px">
							  </td>
							  {% else %}
							  <td>
								  <img src="{% static 'images/noimage.png' %}"  alt="" class="prod-size">
							  </td>  
							  {% endif %}
							  <td>{{data.productName}}</td>
							  <td>{{data.categoryName.categoryName}}</td>
							  <td>{{data.subcategoryName.subcategoryName}}</td>
							  <td>{{data.dietType.dietType}}</td>
							  <td>{{data.productPrice}}</td>
							  <td>{{data.productQty}}</td>
							  <td>
								<a href="{% url 'deleteproduct' data.productId %}?from_admin=1" class="btn btn-daanger btn-sm ">Delete</a>
							  </td>
							  <td>
								{% comment %} {{data.isApproved}} {% endcomment %}
								{% if data.isApproved == 1 %}
									Approved
								{% else %}
									Not Approved
								{% endif %} 
							  </td>	
							  <td>
								<form method="POST" action="{% url 'toggle_product_approval' data.productId %}">
								  {% csrf_token %}
								  <button type="submit" class="btn btn-primary">
									{% if data.isApproved %}
									  Mark as not approved
									{% else %}
									  Mark as approved
									{% endif %}
								  </button>
								</form>
							  </td>
						  </tr>
						{% endfor %}
					  </tbody>
                </table>  
	        {% comment %} </div> {% endcomment %}
	    {% comment %} </form> {% endcomment %}
	</section>

	</main>

</body>
</html>