{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/admin.css">
	<title>Add Sub-Categories</title>
	<style>
		.pagination-btn{
			margin-left:1150px;
			border:2px solid gray;
			padding:0 10px;
			border-radius:10px;
			font-size:20px;
			color:gray;
		}
		.pagination-btn:hover{
			color:black;
			background-color: #b7b7b7;
			border:2px solid black;
		}
		.pagination-btn1{
			margin-left:20px;
			border:2px solid gray;
			padding:0 10px;
			border-radius:10px;
			font-size:20px;
			color:gray;
		}
		.pagination-btn1:hover{
			color:black;
			background-color: #b7b7b7;
			border:2px solid black;
		}
		.pagination span{
			padding-left:500px;
		}
	</style>
</head>
<body>
	<!-- Header Section -->
	{% include 'admin_header.html' %}
	<!-- Navbar Section -->
	{% include 'admin_navbar.html' %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
	
	<main role="main">
	    
	  	<section class="panel important">
	    <h2>Add Sub-Categories</h2>
	      	<form action="add_subcategory" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
	        <div class="twothirds">
                {% comment %} Sub-Category Id:<br/>
	            <input type="text" name="sub_category_id" size="40"/><br/><br/> {% endcomment %}

                Sub-Category Name:<br/>
	            <input type="text" name="subcategoryName" size="40"/><br/><br/>

                Select Category:<br/>
                <select name="categoryName" >
                    <option>Select Category</option>
					{% for data in context.category %} 
						<option value="{{data.categoryId}}"> {{data.categoryName}} </option>
                    {% endfor %}	
                </select><br/><br/>

                Image:<br/>
	            <input type="file" name="subcategoryImage"/><br/><br/>

	          	<input type="submit" name="submit" value="Save" />

	        </div>
	      	</form>
	  	</section>
		<section class="panel important">
			<table>
				<thead>
					<tr><p align="right">
						<form method="POST" action="downloadSubCat">
							{% csrf_token %}
							<label for="download-type">Download Type:</label>
							<input type="radio" id="excel" name="download-type" value="excel">
							<label for="excel" style="display: inline-block;">Excel</label>
							<input type="radio" id="pdf" name="download-type" value="pdf">
							<label for="pdf" style="display: inline-block;">PDF</label>
							<button type="submit">Download Sub-Categories</button>
						</form>
						</p>
					</tr>
					<tr>
					  <th scope="col">Sub-Category Id</th>
					  <th scope="col">Sub-Category Name</th>
					  <th scope="col">Sub-Category Image</th>
					  <th scope="col">Update</th>
					  <th scope="col">Delete</th>
					</tr>
				  </thead>
				  <tbody>
					{% for data in context.subcategory_data %} 
					  <tr>
						  <td scope="row">{{data.subcategoryId}}</td>
						  <td>{{data.subcategoryName}}</td>
						  {% if data.subcategoryImage %}
						  <td>
							  <img src="{{ data.subcategoryImage.url }}"  alt="" class="prod-size" height="50px" width="60px">
						  </td>
						  {% else %}
						  <td>
							  <img src="{% static 'images/noimage.png' %}"  alt="" class="prod-size">
						  </td>  
						  {% endif %}
						  <td><a href="{% url 'admin_update_subcategories' data.subcategoryId %}" class="btn btn-daanger btn-sm ">Update</a></td>
						  <td><a href="{% url 'deletesubcategory' data.subcategoryId %}" class="btn btn-daanger btn-sm ">Delete</a></td>
					  </tr>
					{% endfor %}
				  </tbody>
			</table>
			<div class="pagination">
				{%if subcategory.has_previous %} {# whether the previous page exists #}
					<a href="?page={{subcategory.previous_page_number}}" class="pagination-btn1">Prev</a> {# link to the prev page #}
				{% endif %}

				{% if category.number == 1 %}
					<p></p>
				{% else %}
					<span class="pagination">Page : {{subcategory.number}}</span> {# the current page number #}
				{% endif %}
				
				{%if subcategory.has_next %} {# whether the next page exists #}
					<a href="?page={{subcategory.next_page_number}}" class="pagination-btn"> Next</a> {# link to the next page #}
				{% endif %}
			</div>
		</section>
	</main>

</body>
</html>