{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}

<!-- Start Main Top -->
{% include 'header.html' %}
<!-- End Main Top -->

<!-- start customer section -->

    <section class="pricing_section" id="customer_section">
        <h1>WHAT OUR CUSTOMER ARE SAYING</h1>
         <hr class="smallline2"> 
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>

    <div class="leftSide">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut .</p>
                <img src="https://freetemplates.pro/demo/axit/images/post.png">
    </div>
    <div class="leftSide">

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut .</p>
                <img src="https://freetemplates.pro/demo/axit/images/post.png">
    </div>
    <div class="leftSide">

                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut .</p>
                <img src="https://freetemplates.pro/demo/axit/images/post.png">
    </div>
    </section>
<!-- end customer section -->
    <script src = "{% static 'js/cart.js' %}"></script>
</body>
</html>