{%load static%}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Change Password</title>
    <link rel="stylesheet" href="static/css/index.css">
	<style>
		span{
			font-size:15px;
			font-weight:bolder;
			color: #000;
		}
		input{
			border-radius:10px;
			height:10px;
			font-weight:bolder;
			font-size:15px;
		}
        .btn input{
            width:200px;
            cursor:pointer;
			background-color:#ffad33;
            font-size:20px;
        }
        .btn input:hover{
			background-color:#ff8000;
            width:200px;
            cursor:pointer;
        }
		
	</style>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}

<!-- Start Main Top -->
{% include 'header.html' %}
<!-- End Main Top -->

	<section class="contact_section">
		<h1>CHANGE PASSWORD</h1>
		<hr class="smallline2"> 
		<br>
		<form action="user_change_password" method="post">
            {% csrf_token %}
            <div class="leftSide">
	            <input type="hidden" name="username1" value="{{request.session.username}}" size="40"/><br/><br/>
                <span>Old Passwor :</span>
                <input type="password" name="password">
                <span><br><br>New Passwoord :</span>
                <input type="password" name="new_password">
                <span><br><br>Confirm Password :</span>
                <input type="password" name="cnfm_password">
            </div>
		    <div class="clear"></div><br><br> 
		    <div class="btn">
	            <input type="submit" name="submit" value="SAVE" />
			</div>
		</form><br><br>	
	</section>
</body>
</html>