<nav id="nav">
    <div class="container">
        <div class="logo">
            <img src="static/images/logos.png" height="60px" width="180px" class="logo" alt="">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="index" class="text-lightGray">Home</a></li>
                <li><a href="shop" class="text-lightGray">Shop</a></li>
                <li><a href="gallery" class="text-lightGray">Gallery</a></li>
                <li><a href="contact_us" class="text-lightGray">Contact Us</a></li>
                <li><a href="about" class="text-lightGray">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- start background image section -->
<section class="bgImg-section text-white">
    <div>
        <h1 style="font-size: 120px;margin-top: -60px;"><center>E-Wish</center></h1>
        <center><hr class="smallline"></center> 
        <h1 style="font-size: 40px;"><center>"Grocessary Shopping Made Easy"</center></h1>
    </div>
</section>
<!-- end background image section -->