{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>E-Wish</title>
    <link rel="stylesheet" href="static/css/index.css">

</head>
<body>
    {% if messages %}
    	{% for message in messages %}
      		{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    	{% endfor %}
  	{% endif %}
    
    <!-- Start Main Top -->
    {% include 'header.html' %}
    <!-- End Main Top -->    

<!-- start sublist section -->
    <section class="sublist_section">
        <div class="leftSide">
            <img src="https://freetemplates.pro/demo/axit/images/sec1.png">
        </div>
        <div class="rightSide">
            <h1>SUB LIST SECTION</h1>
            <hr class="smallline"> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <br>
                  <h3>TITLE</h3>
                  <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
                  <br>
                  <br>
                    <h3>TITLE</h3>
                  <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
                  <br>
        </div>
    </section>
<!-- end sublist section -->

<!-- start picture section -->
    <section class="picture_section">
        <div class="leftSide">
            <h1>standard picture section</h1>
            <hr class="smallline"> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <br>
                  <h3>TITLE</h3>
                  <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
                  <br>
                  <br>
                    <h3>TITLE</h3>
                  <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
                  <br>
        </div>
        <div class="rightSide">
            <img src="https://freetemplates.pro/demo/axit/images/sec2.png">
        </div>
    </section>
 <!-- end picture section -->


<!-- /*start awesome section*/ -->
<section class="awesome_section">
    
 <h1>WHY THIS IS AWESOME</h1>
    <hr class="smallline2"> 

    <p> Lorem ipsum dolor sit amet,consectetur,amet,consectetur </p>
    <div class="container">
    <div class="leftSide">
        <h2>Throughtful Design</h2>
           <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
    </div>
    <div class="center">
         <h2>Well Crafted </h2>
           <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
    </div>
    <div class="rightSide">
         <h2>Easy to Customize</h2>
           <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</P>
  
    </div>
    </div>
</section>

<!-- /*end awesome section*/ -->

   <div class="footer">
        <a href="#" class="icon-button youtube"><i class="fa fa-youtube "></i><span></span></a>
        <a href="#" class="icon-button pinterest"><i class="fa fa-pinterest"></i><span></span></a>
        <a href="#" class="icon-button youtube"><i class="fa fa-youtube"></i><span></span></a>
        <a href="#" class="icon-button pinterest"><i class="fa fa-pinterest"></i><span></span></a>
    </div>
</body>
</html>