{%load static%}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
{% endif %}

<!-- Start Main Top -->
{% include 'header.html' %}
<!-- End Main Top -->

	<section class="contact_section">
		<h1>PROFILE</h1>
		<hr class="smallline2"> 
		<br>
		<form>
            <div class="leftSide">
                <span>Name :</span>
                <input type="text" value="{{ request.session.username }}" disabled>
                <span>Email :</span>
                <input type="email" value="{{ request.session.email }}" disabled>
                <span>Phone :</span>
                <input type="number" value="{{ request.session.contact }}" disabled>
            </div>
		    <div class="rightSide">
                <span>Address :</span>
		        <input type="text" value="{{ request.session.userAddress }}" disabled>
		    </div>
		    <div class="clear"></div> 
		    <div style="text-align: center;">    
				<button type="submit">Change Password</button>
                <a href="userlogout">Logout</a>
				<button type="submit">Logout</button>
		    </div>
		</form>	
	</section>
    <script src = "{% static 'js/cart.js' %}"></script>
</body>
</html>