<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/merchant.css">
	<title></title>
</head>
<body>
	<nav role='navigation'>
  		<ul class="main">
		    <li class="dashboard"><a href="merchant_index">Dashboard</a></li>
		    <li class="write"><a href="merchant_add_products">Add Products</a></li>
		    <li class="users"><a href="merchant_manage_product">Manage Products</a></li>
		</ul>
	</nav>
</body>
</html>