<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/merchant.css">
	<title></title>
</head>
<body>
	<!-- Header Section -->
	{% include 'merchant_header.html' %}
	<!-- Navbar Section -->
	{% include 'merchant_navbar.html' %}

	<main role="main">
	    
	  <section class="panel important">
	    <h2>Add Categories</h2>
	      <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
	        <div class="twothirds">
                Category Id:<br/>
	            <input type="text" name="category_id" size="40"/><br/><br/>

                Category Name:<br/>
	            <input type="text" name="category_name" size="40"/><br/><br/>

                Image:<br/>
	            <input type="file" name="category_image" size="40"/><br/><br/>

	          <input type="submit" name="submit" value="Save" />

	        </div>
	      </form>
	  </section>
	</main>

</body>
</html>