{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href={% static 'merchant.css' %}>
	<title>Update Product</title>
</head>
<body>
	<!-- Header Section -->
	{% include 'merchant_header.html' %}
	<!-- Navbar Section -->
	{% include 'merchant_navbar.html' %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

	<main role="main">
    <section class="panel important">
	    <h2>Update Product</h2>
        <table>
            <thead>
                <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Category Name</th>
                        <th>Subcategory Name</th>
                        <th>Diet Type</th>
                        <th>Product Quantity</th>
                        <th>Product Description</th>
                        <th>Product Serving Size</th>
                    </tr>
                    <tr>
                        {% if cont.productImage %}
							<td>
								<img src="{{ cont.productImage.url }}"  alt="" class="prod-size" height="50px" width="60px">
							</td>
							{% else %}
							<td>
								<img src="{% static 'images/noimage.png' %}"  alt="" class="prod-size">
							</td>  
						{% endif %}
                        <td>{{cont.productName}}</td>
                        <td>{{cont.productPrice}}</td>
                        <td>{{cont.categoryName.categoryName}}</td>
                        <td>{{cont.subcategoryName.subcategoryName}}</td>
                        <td>{{cont.dietType.dietType}}</td>
                        <td>{{cont.productQty}}</td>
                        <td>{{cont.productDesc}}</td>
                        <td>{{cont.productServing}}</td>
                    </tr>
            </thead>
        </table>
            <form action = "editproduct/{{ context.productId }}" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
				<div class="twothirds">
					Product Name:<br/>
					<input type="text" name="productName" size="40"/><br/><br/>

					Image:<br/>
					<input type="file" name="productImage" size="40"/><br/><br/>

                    Price:<br/>
					<input type="text" name="productPrice" size="40"/><br/><br/>

                    Categories:<br/>
                <select name="categoryName">
                    <option>Select Category</option>
					{% for data in context.category %} 
						<option value="{{data.categoryId}}"> {{data.categoryName}} </option>
                    {% endfor %}
                </select><br/><br/>

                Sub-Categories:<br/>
                <select name="subcategoryName">
                    <option>Select Sub-Category</option>
					{% for data in context.subcategory %} 
						<option value="{{data.subcategoryId}}"> {{data.subcategoryName}} </option>
                    {% endfor %}
                </select><br/><br/>

				Dietary Preference:<br/>
                <select name="dietType">
					<option>Select Dietry Preference</option>
					{% for data in context.diet %} 
						<option value="{{data.dietId}}"> {{data.dietType}} </option>
                    {% endfor %}
                </select><br/><br/>

                    Product Quantity:<br/>
					<input type="text" name="productQty" size="40"/><br/><br/>

                    Product Description:<br/>
					<input type="text" name="productDesc" size="40"/><br/><br/>

                    Product Serving:<br/>
					<input type="text" name="productServing" size="40"/><br/><br/>

					<input type="submit" name="submit" value="Update" />  
				</div>
	      	</form>
    </section>
	</main>

</body>
</html>