<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/merchant.css">
	<title>Add Product</title>
</head>
<body>
	{% if messages %}
    	{% for message in messages %}
      		{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    	{% endfor %}
  	{% endif %}

	<!-- Header Section -->
	{% include 'merchant_header.html' %}
	<!-- Navbar Section -->
	{% include 'merchant_navbar.html' %}

	<main role="main">
	    
	  <section class="panel important">
	    <h2>Add Products</h2>
	      <form action="addProduct" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="twothirds">
                
                Product Name:<br/>
	            <input type="text" name="productName" size="40"/><br/><br/>

                Product Quantity:<br/>
	            <input type="text" name="productQty" size="40"/><br/><br/>

                Product Price:<br/>
	            <input type="text" name="productPrice" size="40"/><br/><br/>

                Categories:<br/>
                <select name="categoryName">
                    <option>Select Category</option>
					{% for data in context.category %} 
						<option value="{{data.categoryId}}"> {{data.categoryName}} </option>
                    {% endfor %}
                </select><br/><br/>

                Sub-Categories:<br/>
                <select name="subcategoryName">
                    <option>Select Category</option>
					{% for data in context.subcategory %} 
						<option value="{{data.subcategoryId}}"> {{data.subcategoryName}} </option>
                    {% endfor %}
                </select><br/><br/>

				Dietary Preference:<br/>
                <select name="dietType">
					<option>Select Category</option>
					{% for data in context.diet %} 
						<option value="{{data.dietId}}"> {{data.dietType}} </option>
                    {% endfor %}
                </select><br/><br/>

				Product Description:<br/>
	            <input type="text" name="productDesc"/><br/><br/>

                Product Image:<br/>
	            <input type="file" name="productImage"/><br/><br/>

	          <input type="submit" name="submit" value="Save" />

	        </div>
	      </form>
	  </section>
	</main>

</body>
</html>