<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/login.css">
  <title></title>
</head>
<body>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
  {% endif %}

  <div class="login-box">
  <h2>Login</h2>
  <form method="POST" action="log" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      {% comment %} <input type="text" name = "user_type" hidden = "True" value = "{{type}}"> {% endcomment %}
      <label>Password</label>
    </div>
    <button>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button></br></br></br>
    <div style="margin-left:120px; color:white;"><a href="admin_login"> Admin Login</a></div><br>
    <div style="margin-left:10px; color:white;"><a href="Cregistration">Register As Customer </a>|<a href="merchant_registration"> Register As Seller</a></div>
  </form>
</div>
</body>
</html>
